<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<title>Tic Tac Toe</title>

	<link href="./css/style.css" type="text/css" rel="stylesheet"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
	<script src="./js/method.js"> </script>
</head>
<body onload="init();">
	<h1> Play Tic Tac Toe </h1>
  <h2 id="status"> Waiting for opponent state... </h2>
	<div id="board">
    <table>
      <tr id="row1">
        <td class="square" id="0"></td>
        <td class="square v" id="1"></td>
        <td class="square" id="2"></td>
      </tr>
      <tr id="row2">
        <td class="square h" id="3"></td>
        <td class="square v h" id="4"></td>
        <td class="square h" id="5"></td>
      </tr>
      <tr id="row3">
        <td class="square" id="6"></td>
        <td class="square v" id="7"></td>
        <td class="square" id="8"></td>
      </tr>
    </table>
  </div>
  <div class="overlay overlay-data">
    <h1 id="endgame">Place something here</h1>
  </div>
</body>